---
layout: none
title: ""
--- 
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>NexRez</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
<link rel='stylesheet prefetch' href='css/magnific-popup.css'>

<!--Fonts Online-->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<!--Main-->
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/responsive.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" id="color" href="css/colors/default.css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
<!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
  <body>
    {% include preloader.html %}

    <div id="wrap">
      {% include home.html %}

      {% include hello.html %}
      
      {% include services.html %}
      
      {% include benefits.html %}
      
      {% include open-popup.html %}
      {% include open-popup2.html %}
      {% include open-popup3.html %}
      {% include open-popup4.html %}

      {% include reference-blog.html %} 

      {% include hotel-admin.html %}

      {% include contact.html %}
      
    </div>

    {% include js.html %}
  </body>
</html>