  <!--======= BENEFITS  =========-->
  <section id="benefits" class="page-panel panel-brown diagonal-top-up">
    <div class="container">
      <div class="main_icon wow bounce" data-wow-delay="100ms">
        <div class="icon"> <i class="ion-briefcase"></i> </div>
      </div>
      <h3>PORTFOLIO</h3>
      <div class="portfolio-wrapper wow bounceIn" data-wow-delay="500ms">
        <ul class="filter">
          <li><a class="active" href="#" data-filter="*">All</a></li>
          <li><a href="#" data-filter=".rez"><strong>REZ</strong>ervations</a></li>
          <li><a href="#" data-filter=".mob">Mobile Solutions</a></li>
          <li><a href="#" data-filter=".social">Social Media Marketing</a></li>
        </ul>
        <div id="popups" class="owl-number"> 
          
          <!--======= PORTFOLIO SLIDE 1 =========-->
          <div class="portfolio">
            <ul class="items">
              
              <!--PORTFOLIO SECTION===========================================-->
              <li class="item rez">
                <div class="over"> <img src="brand/booking.jpg" alt="">
                  <div class="overlay">
                    <div class="description" > <span>More <strong>REZ</strong>ervations</span>
                      <p>Maximize your revenue with a GDS expert on call.</p>
                      <p><i class="ion-eye"></i> 1200+ Views</p>
                    </div>
                    <div class="icon"><a href="#open-popup2"> <i class="ion-arrow-graph-up-right"></i></a></div>
                  </div>
                </div>
              </li>
              
              <!--PORTFOLIO SECTION===========================================-->
              <li class="item mob">
                <div class="over"> <img src="brand/woman.jpg" alt="">
                  <div class="overlay">
                    <div class="description" > <span>Mobile Solutions</span>
                      <p>The Future of Travel</p>
                      <p><i class="ion-eye"></i> 960+ Views</p>
                    </div>
                    <div class="icon"><a href="#open-popup3"> <i class="ion-arrow-graph-up-right"></i></a></div>
                  </div>
                </div>
              </li>
              
              <!--PORTFOLIO SECTION===========================================-->
              <li class="item social">
                <div class="over"> <img src="brand/social.jpg" alt="">
                  <div class="overlay">
                    <div class="description" > <span>Social Media Marketing</span>
                      <p>Influencing the way we shop</p>
                      <p><i class="ion-eye"></i> 1256+ Views</p>
                    </div>
                    <div class="icon"><a href="#open-popup4"> <i class="ion-arrow-graph-up-right"></i></a></div>
                  </div>
                </div>
              </li>
              
            </ul>
          </div>
          
          <!--======= PORTFOLIO SLIDE 2 =========-->
          <div class="portfolio">
          </div>
          
          <!--======= PORTFOLIO SLIDE 3 =========-->
          <div class="portfolio">
          </div>

        </div>
      </div>
    </div>
  </section>