<!--======= BLOG  =========-->
  <section id="blog" class="page-panel panel-brown diagonal-top-up">
    <div class="container">
      <div class="main_icon wow bounce" data-wow-delay="100ms">
        <div class="icon"> <i class="ion-compose"></i> </div>
      </div>
      <h3>MY BLOG’S</h3>
      <div  id="popups-blog" class="owl-number"> 
        
        <!--======= BLOG SLIDE ONE  =========-->
        <div class="blog">
          <div class="row"> 
            
            <!--======= BLOG SECTION =========-->
            <div class="col-md-6"><a href="#blog-popup"> <img class="img-responsive" src="images/b-img-1.png" alt="" ></a>
              <div class="row"> 
                <!--======= BLOG DATE AND DETAIL =========-->
                <div class="col-sm-2"><span><span>10</span> MARCH
                  2014 </span> </div>
                <div class="col-sm-10">
                  <h4><a href="#blog-popup">Professsional Photography Portfolio Design</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis
                    vestibulum est, ac bibendum turpis fermentum et. Cras eu velit eu erat
                    fermentum euismod at facilisis augue. </p>
                </div>
              </div>
            </div>
            
            <!--======= BLOG SECTION =========-->
            <div class="col-md-6"><a href="#blog-popup"> <img class="img-responsive" src="images/b-img-2.png" alt="" ></a>
              <div class="row"> 
                <!--======= BLOG DATE AND DETAIL =========-->
                <div class="col-sm-2"><span><span>10</span> MARCH
                  2014 </span> </div>
                <div class="col-sm-10">
                  <h4><a href="#blog-popup">Professsional Photography Portfolio Design</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis
                    vestibulum est, ac bibendum turpis fermentum et. Cras eu velit eu erat
                    fermentum euismod at facilisis augue..</p>
                </div>
              </div>
            </div>
            
            <!--======= BLOG SECTION =========-->
            <div class="col-md-6"><a href="#blog-popup"> <img class="img-responsive" src="images/b-img-3.png" alt="" ></a>
              <div class="row"> 
                <!--======= BLOG DATE AND DETAIL =========-->
                <div class="col-sm-2"><span><span>10</span> MARCH
                  2014 </span> </div>
                <div class="col-sm-10">
                  <h4><a href="#blog-popup">Professsional Photography Portfolio Design</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis
                    vestibulum est, ac bibendum turpis fermentum et. Cras eu velit eu erat
                    fermentum euismod at facilisis augue. </p>
                </div>
              </div>
            </div>
            
            <!--======= BLOG SECTION =========-->
            <div class="col-md-6"> <a href="#blog-popup"><img class="img-responsive" src="images/b-img-4.png" alt="" ></a>
              <div class="row"> 
                <!--======= BLOG DATE AND DETAIL =========-->
                <div class="col-sm-2"><span><span>10</span> MARCH
                  2014 </span> </div>
                <div class="col-sm-10">
                  <h4><a href="#blog-popup">Professsional Photography Portfolio Design</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis
                    vestibulum est, ac bibendum turpis fermentum et. Cras eu velit eu erat
                    fermentum euismod at facilisis augue. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--======= BLOG SLIDE TWO  =========-->
        <div class="blog">
          <div class="row"> 
            
            <!--======= BLOG SECTION =========-->
            <div class="col-md-6"><a href="#blog-popup"> <img class="img-responsive" src="images/b-img-1.png" alt="" ></a>
              <div class="row"> 
                <!--======= BLOG DATE AND DETAIL =========-->
                <div class="col-sm-2"><span><span>10</span> MARCH
                  2014 </span> </div>
                <div class="col-sm-10">
                  <h4><a href="#blog-popup">Professsional Photography Portfolio Design</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis
                    vestibulum est, ac bibendum turpis fermentum et. Cras eu velit eu erat
                    fermentum euismod at facilisis augue. </p>
                </div>
              </div>
            </div>
            
            <!--======= BLOG SECTION =========-->
            <div class="col-md-6"><a href="#blog-popup"> <img class="img-responsive" src="images/b-img-2.png" alt="" ></a>
              <div class="row"> 
                <!--======= BLOG DATE AND DETAIL =========-->
                <div class="col-sm-2"><span><span>10</span> MARCH
                  2014 </span> </div>
                <div class="col-sm-10">
                  <h4><a href="#blog-popup">Professsional Photography Portfolio Design</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis
                    vestibulum est, ac bibendum turpis fermentum et. Cras eu velit eu erat
                    fermentum euismod at facilisis augue..</p>
                </div>
              </div>
            </div>
            
            <!--======= BLOG SECTION =========-->
            <div class="col-md-6"><a href="#blog-popup"> <img class="img-responsive" src="images/b-img-3.png" alt="" ></a>
              <div class="row"> 
                <!--======= BLOG DATE AND DETAIL =========-->
                <div class="col-sm-2"><span><span>10</span> MARCH
                  2014 </span> </div>
                <div class="col-sm-10">
                  <h4><a href="#blog-popup">Professsional Photography Portfolio Design</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis
                    vestibulum est, ac bibendum turpis fermentum et. Cras eu velit eu erat
                    fermentum euismod at facilisis augue. </p>
                </div>
              </div>
            </div>
            
            <!--======= BLOG SECTION =========-->
            <div class="col-md-6"> <a href="#blog-popup"><img class="img-responsive" src="images/b-img-4.png" alt="" ></a>
              <div class="row"> 
                <!--======= BLOG DATE AND DETAIL =========-->
                <div class="col-sm-2"><span><span>10</span> MARCH
                  2014 </span> </div>
                <div class="col-sm-10">
                  <h4><a href="#blog-popup">Professsional Photography Portfolio Design</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis
                    vestibulum est, ac bibendum turpis fermentum et. Cras eu velit eu erat
                    fermentum euismod at facilisis augue. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--======= BLOG SLIDE THREE  =========-->
        <div class="blog">
          <div class="row"> 
            
            <!--======= BLOG SECTION =========-->
            <div class="col-md-6"><a href="#blog-popup"> <img class="img-responsive" src="images/b-img-1.png" alt="" ></a>
              <div class="row"> 
                <!--======= BLOG DATE AND DETAIL =========-->
                <div class="col-sm-2"><span><span>10</span> MARCH
                  2014 </span> </div>
                <div class="col-sm-10">
                  <h4><a href="#blog-popup">Professsional Photography Portfolio Design</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis
                    vestibulum est, ac bibendum turpis fermentum et. Cras eu velit eu erat
                    fermentum euismod at facilisis augue. </p>
                </div>
              </div>
            </div>
            
            <!--======= BLOG SECTION =========-->
            <div class="col-md-6"><a href="#blog-popup"> <img class="img-responsive" src="images/b-img-2.png" alt="" ></a>
              <div class="row"> 
                <!--======= BLOG DATE AND DETAIL =========-->
                <div class="col-sm-2"><span><span>10</span> MARCH
                  2014 </span> </div>
                <div class="col-sm-10">
                  <h4><a href="#blog-popup">Professsional Photography Portfolio Design</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis
                    vestibulum est, ac bibendum turpis fermentum et. Cras eu velit eu erat
                    fermentum euismod at facilisis augue..</p>
                </div>
              </div>
            </div>
            
            <!--======= BLOG SECTION =========-->
            <div class="col-md-6"><a href="#blog-popup"> <img class="img-responsive" src="images/b-img-3.png" alt="" ></a>
              <div class="row"> 
                <!--======= BLOG DATE AND DETAIL =========-->
                <div class="col-sm-2"><span><span>10</span> MARCH
                  2014 </span> </div>
                <div class="col-sm-10">
                  <h4><a href="#blog-popup">Professsional Photography Portfolio Design</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis
                    vestibulum est, ac bibendum turpis fermentum et. Cras eu velit eu erat
                    fermentum euismod at facilisis augue. </p>
                </div>
              </div>
            </div>
            
            <!--======= BLOG SECTION =========-->
            <div class="col-md-6"> <a href="#blog-popup"><img class="img-responsive" src="images/b-img-4.png" alt="" ></a>
              <div class="row"> 
                <!--======= BLOG DATE AND DETAIL =========-->
                <div class="col-sm-2"><span><span>10</span> MARCH
                  2014 </span> </div>
                <div class="col-sm-10">
                  <h4><a href="#blog-popup">Professsional Photography Portfolio Design</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis
                    vestibulum est, ac bibendum turpis fermentum et. Cras eu velit eu erat
                    fermentum euismod at facilisis augue. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>