  <div id="contact">
    <div class="container">
      <div class="main_icon wow bounce" data-wow-delay="100ms">
        <div class="icon"> <i class="ion-android-location"></i> </div>
      </div>
      <div class="contact">
        <h3>Contact NexRez</h3>
        <p>
          816 W. Francis Ave, Ste 505<br>
          Spokane, WA 99205<br>
          P: 877.228.8998<br>
          F: 877.228.8520<br>
          <a href="mailto:info@nexrez.net">info@nexrez.net</a>
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
    <section id="social" class="page-panel panel-brown diagonal-top-up">
      <div class="container"> 
        <!--======= Social Icons  =========-->
        <div class="social_icons">
          <ul>
            <li class="facebook wow fadeInUpBig" data-wow-delay="100ms"> <a href="https://www.facebook.com/pages/NexRez/152646041424050"><i class="ion-social-facebook"></i> </a> </li>
            <li class="twitter wow fadeInUpBig" data-wow-delay="200ms"> <a href="https://twitter.com/NexRezCRS"><i class="ion-social-twitter"></i> </a> </li>
            <li class="googleplus wow fadeInUpBig" data-wow-delay="300ms"> <a href="https://plus.google.com/115419674483976210849"><i class="ion-social-googleplus"></i> </a> </li>
            <li class="linkedin wow fadeInUpBig" data-wow-delay="400ms"> <a href="https://www.linkedin.com/pub/nexrez-central-reservation-system/a8/549/142/"><i class="ion-social-linkedin"></i> </a> </li>
          </ul>
        </div>
        <div class="clearfix" style="height:100px;"></div>
      </div>
    </section>
    <div class="links">
      <ul>
        <li>&nbsp;</li>
      </ul>
      <div class="clearfix" style="height:100px;"></div>
    </div>
  </div>

    <!--======= Trip Advisor =========-->
    <section id="tripadvisor" class="page-panel panel-brown diagonal-top-up">
      <div class="container">
        <div class="contact">
          <h3>TripConnect&trade; Premium Partner</h3>
          <a href="http://www.tripadvisor.com/ConnectivityPartners-m18418" target="_new"><img src="http://www.tripadvisor.com/img/cdsi/langs/en_US/TC_CertificationBadge_PremiumPartner-18418-2.png" alt="Certified TripConnect™ Premium Partner"></a>
        <div class="clearfix" style="height:20px;"></div>
        </div>
        <div class="clearfix" style="height:100px;"></div>
      </div>
      <div class="links">
        <ul>
          <li>&nbsp;</li>
          <li><span style="color:#fff;">Copyright &copy; 2015 NexRez | Development: </span><a href="http://www.joecode.com">JoeCode</a></li>
        </ul>
        <div class="clearfix" style="height:100px;"></div>
      </div>
    </section>

