  <div id="contact">
    <div class="container">
      <div class="main_icon wow bounce" data-wow-delay="100ms">
        <div class="icon"> <i class="ion-android-location"></i> </div>
      </div>

      <h3 style="color:green;">Contact NexRez</h3>
      <p style="color:green;font-size:1.3em;">
        816 W. Francis Ave, Ste 505<br>
        Spokane, WA 99205<br>
        P: 877.228.8998<br>
        F: 877.228.8520<br>
        <a href="mailto:info@nexrez.net">info@nexrez.net</a>
      </p>
      <div class="clearfix"></div>
      {% comment %}
      <h3>GET IN TOUCH</h3>
      <div id="contact_form" class=" wow bounceIn" data-wow-delay="500ms">
        <form id="contact-form" class="contact-form " accept-charset="utf-8" method="post" >
          <div class="form-group">
            <label><span>Name</span>
              <input name="name" type="text" placeholder="Name"/>
            </label>
          </div>
          <div class="form-group">
            <label>
              <input name="email" type="email" placeholder="Email Address"/>
            </label>
          </div>
          <div class="form-group">
            <label>
              <input name="hotel" type="text" placeholder="Hotel Name"/>
            </label>
          </div>
          <div class="form-group">
            <label>
              <input name="phone" type="text" placeholder="Phone"/>
            </label>
          </div>
          <div class="form-group">
            <label>
              <input name="fax" type="text" placeholder="Fax"/>
            </label>
          </div>
          <div class="form-group">
            <label>
              <input name="address" type="text" placeholder="Mailing Address"/>
            </label>
          </div>
          <label> <span>Message</span>
            <textarea name="message" placeholder="Your Message"></textarea>
          </label>
          <input name="submit" type="submit" value="SUBMIT YOUR MESSAGE" />
        </form>
        <div class="clearfix"></div>
      </div>
      {% endcomment %}
    </div>
    <section id="social" class="page-panel panel-brown diagonal-top-up">
      <div class="container"> 
        <!--======= Social Icons  =========-->
        <div class="social_icons">
          <ul>
            <li class="facebook wow fadeInUpBig" data-wow-delay="100ms"> <a href="http://www.facebook.com/sharer.php?u=http://nexrez.net&t=NexRez"><i class="ion-social-facebook"></i> </a> </li>
            <li class="twitter wow fadeInUpBig" data-wow-delay="200ms"> <a href="http://twitter.com/home/?status=Check+out+this+website+http://nexrez.net"><i class="ion-social-twitter"></i> </a> </li>
            <li class="googleplus wow fadeInUpBig" data-wow-delay="300ms"> <a href="https://plus.google.com/share?url=http://www.nexrez.net"><i class="ion-social-googleplus"></i> </a> </li>
            <li class="linkedin wow fadeInUpBig" data-wow-delay="400ms"> <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.nexrez.net&title=NexRez&summary=&source="><i class="ion-social-linkedin"></i> </a> </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </section>
    <div class="links">
      <ul>
        <li> Copyright @ 2014 NexRez | Development: <a href="http://www.joecode.com">JoeCode</a></li>
      </ul>
    </div>
  </div>