<!--======= HEADER =========-->
    <header id="header" class="sticky">
      <div class="container">
        <div class="menu">
          <div class="logo"> <a href="#hello"> <img src="brand/nexrez-logo-alpha-alt-tiny.png" alt=""> </a> </div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="ion-navicon-round"></span> </button>
          </div>
          
          <!--======= NAV START =========-->
          <nav class="navbar navbar-default" role="navigation">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="#hello">HELLO</a></li>
                <li><a href="#services">SERVICES</a></li>
                <li><a href="#benefits">BENEFITS </a></li>
                <li><a href="#reference-blog">REFERENCES </a></li>
                <li><a href="#static">HOTEL LOGIN </a></li>
                <li><a href="#contact">CONTACT </a></li>
              </ul>
            </div>
          </nav>
          
          <!--======= Social Icons  =========-->
          <div class="social_icons">
            {% include social-list.html %}
          </div>
          <div class="clearfix"></div>
          <!--======= Social Icons  =========--> 
          
        </div>
        <div class="clearfix"></div>
      </div>
    </header>