<section id="hello" class="page-panel panel-brown diagonal-top-up">
    <div class="container">
      <div class="main_icon wow bounce" data-wow-delay="100ms">
        <div class="icon"> <i class="ion-earth"></i> </div>
      </div>
      <h3>HELLO</h3>
      <div class="info">
        <div class="avatar  wow fadeInLeft" data-wow-delay="100ms"> <img src="brand/nexrez-logo-alpha-padded-medium.png" alt="" > </div>
        <div class="per-info wow fadeInRight" data-wow-delay="100ms">
          <h5>NexRez</h5>
          <h6>Independent hotel reservation revenue and online marketing has never been as easy as it is with The <span>NexRez Central Reservation System (CRS)</span></h6>
          <br>
          <blockquote>“THE cloud based system for independent hotels”.</blockquote>
          <p>￼We are proud to offer your independent hotel the same world class technology that major hotel brands use to connect seamlessly to Expedia, Booking.com, Orbitz, Travelocity, Priceline, Hotels.com the GDS frame work, and 200 plus travel websites.<br>
          <br>
          Hotel independence has never been this easy!</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>