<section id="home">
    <div class="container">
    
    <div class="big-logo">
      <a href="#hello"><img src="brand/nexrez-logo-alpha-medium.png" alt="" style="width:120px;"></a>
    </div>
      <div class="owl-home"> 
        
        <!--======= Banner Slider 1 =========-->
        <div class="text"> <span>&nbsp;</span>
          <h1><span class="color">WE ARE</span> REZERVATIONS</h1>
          <span class="two">ONLINE RESERVATIONS  |  MARKETING  |  WORLDWIDE DISTRIBUTION</span> </div>
        
        <!--======= Banner Slider 2=========-->
        <div class="text"> <span>&nbsp;</span>
          <h1><span class="color">WE ARE</span> CONNECTED </span></h1>
          <span class="two">TRAVEL WEBSITES  |  GDS  |  GOOGLE &amp; MORE</div>
        
        <!--======= Banner Slider 3=========-->
        <div class="text"> <span>&nbsp;</span>
          <h1><span class="color">WE ARE</span> POWERFUL TECHNOLOGY</h1>
          <span class="two">CLOUD BASED  |  PMS INTERFACES  |  ANALSYIS</span> </div>
      </div>
    </div>
    
    {% include header.html %}
  </section>