
  <!--======= Hotel Administration =========-->
  <section id="static" class="page-panel panel-brown diagonal-top-up">
    <div class="container">
      <div class="main_icon wow bounce" data-wow-delay="100ms">
        <div class="icon"> <i class="ion-earth"></i> </div>
      </div>
      <h3>NexRez Hotel Administration</h3>
      <h3 class="admin-button"><a href="https://login.nexrez.net" target="_new" class="">LOGIN</a></h3>
      <div class="clearfix" style="height:100px;"></div>
    </div>
  </section>
