<div id="open-popup2" class="white-popup mfp-with-anim mfp-hide"> 
  <div class="popup page-panel diagonal-top-up">
    <div class="container">
      <h4>Rezervations</h4>
      <div class="row">
        <div class="col-md-7"> 
          <div class="owl-number">
            <div class="img"> <img class="img-responsive" src="brand/hotelroom.jpg" alt="" > </div>
          </div>
        </div>
        <div class="col-md-5">
          <div>
            <p>Maximize your revenue with a GDS expert on call. Your success is our success! Maximize your revenue opportunities by working with a GDS expert at NexRez. Each hotel is assigned its own Hotel Revenue Manager, a GDS expert who will work with you and your team through the migration, implementation, and utilization of each product or service. Your GDS expert it trained to assess every aspect of your business to help you achieve online revenue goals. We will drive distribution for your property to ensure it gains maximum exposure through all channels, regardless of the size of your hotel.</p>

            <p>More and more opportunities are being added everyday and it has become difficult for independent hotels to know how to manage business strategies online and ensure that you are maximizing every channel. NexRez focuses on price-point strategy, market positioning, ecommerce strategy, distribution effectiveness, and business intelligence reporting you so can make well informed decisions for your hotel.</p>

            <p>Our experience with Expedia, Booking.com, Orbitz, Travelocity, Hotels.com, Hotwire, Priceline, Google, Kayak, GDS and more has resulted in significant revenue increases for our customers.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>