<div id="open-popup3" class="white-popup mfp-with-anim mfp-hide"> 
  <div class="popup page-panel diagonal-top-up">
    <div class="container">
      <h4>Mobile On-The-Go</h4>
      <div class="row">
        <div class="col-md-7"> 
          <div class="owl-number">
            <div class="img"> <img class="img-responsive" src="brand/woman2.jpg" alt="" > </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="pre-scrollable">
            <h4>The Future of Travel: Booking On-The-Go</h5>
            
            <p>Today’s mobile customers now have the ability to make hotel reservations on-the-go, receiving confirmation both on their mobile device, or tab. Recently, Google announced mobile searches have increased year over year by 3000%, and that now over 20% of all searches are conducted via a mobile device. Hotels with mobile capabilities are experiencing doubling and tripling of mobile generated revenues. We continue to provide state-of-the-art technology that allows you to maximize all revenue opportunities.</p>
            
            <p>Our Mobile Booking Engine (MBE) is an easy-to-use interface optimized for mobile devices that provides a complete, branded booking experience for your potential guests. No additional management required or software to install to deliver the guest experience on a variety of mobile device. Reservation information flows seamlessly to and from any PMS interface, via email and fax for non-interfaced properties.</p>
            
            <h4>What this means for you</h5>
            <p>Leverage and respond to mobile users, increase your exposure and your revenue by offering new ways for your guests to book the room(s) they want, when they want them, and with the additional services and mobility they want.</p>
            
            <h4>Financial benefits</h5>
            <p>Currently, 20% of hotel bookings originate from mobile devices. Hotels with mobile websites are experiencing doubling and tripling of mobile-generated revenues. This trend is expected to continue in the future, and staying current is crucial to staying competitive in this ever-changing market.</p>
            
            <h4>Getting started</h5>
            <p>There is no software installation or setup required on your website. Contact your Account Manager to learn more about our mobile booking technology.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>