<div id="open-popup4" class="white-popup mfp-with-anim mfp-hide"> 
  <div class="popup page-panel diagonal-top-up">
    <div class="container">
      <h4>Social Media</h4>
      <div class="row">
        <div class="col-md-7"> 
          <div class="owl-number">
            <div class="img"> <img class="img-responsive" src="brand/social2.jpg" alt="" > </div>
          </div>
        </div>
        <div class="col-md-5">
          <div>
            <p>Social media websites are influencing the way we shop and buy. As your internet marketing partner, we
            will ensure you effectively integrate user-generated content and buying trends to enhance your bottom line.</p>

            <ul>
             <li>Monitoring your online presence</li>
             <li>Facilitate sharing of your content</li>
             <li>Build brand awareness by engaging customers</li>
            </ul>

            <p>NexRez evaluates all emerging technologies to ensure you have access to the most innovative web- based tools and solutions. We have developed solutions and processes that enable immediate integration and adoption of these technologies and trends. Learn how to position your brand upfront on
            TripAdvisor, facebook, YouTube, Twitter, and more.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>