<!--======= BLOG  =========-->
  <section id="blog" class="page-panel panel-brown diagonal-top-up">
    <div class="container">
      <div class="main_icon wow bounce" data-wow-delay="100ms">
        <div class="icon"> <i class="ion-compose"></i> </div>
      </div>
      <h3>References</h3>
      <div id="reference-blog" class="owl-number"> 
        
        <!--======= BLOG SLIDE ONE  =========-->
        <div class="blog">
          <div class="row"> 
            
            <!--======= BLOG SECTION =========-->
            <div class="col-md-6"><img class="img-responsive" src="brand/towncountry.jpg" alt="" >
              <div class="row">
                <div class="col-sm-12">
                  <h4 class="c">Town &amp; Country Resort</h4>
                  <ul>
                    <li>Randy Labnon – Owner</li>
                    <li>(603) 466-3315</li>
                  </ul>
                </div>
              </div>
            </div>
            
            <!--======= BLOG SECTION =========-->
            <div class="col-md-6"><img class="img-responsive" src="brand/oceana.jpg" alt="" >
              <div class="row"> 
                <div class="col-sm-12">
                  <h4 class="c">Oceana Inn</h4>
                  <ul>
                    <li>Seema Patel - Owner</li>
                    <li>(831) 426-2300</li>
                  </ul>
                </div>
              </div>
            </div>
            
            <!--======= BLOG SECTION =========-->
            <div class="col-md-6"><img class="img-responsive" src="brand/regency.jpg" alt="" >
              <div class="row"> 
                <div class="col-sm-12">
                  <h4 class="c">Regency Inn &amp; Suites</h4>
                  <ul>
                    <li>Danny Bhoja – Owner</li>
                    <li>(904) 471-7700</li>
                  </ul>
                </div>
              </div>
            </div>
            
            <!--======= BLOG SECTION =========-->
            <div class="col-md-6"><img class="img-responsive" src="brand/apple.jpg" alt="" >
              <div class="row"> 
                <div class="col-sm-12">
                  <h4 class="c">Apple Tree Inn</h4>
                  <ul>
                    <li>Steve Yoo – Owner</li>
                    <li>(509) 466-3020</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>