<!--======= REFERENCES  =========-->
  <section id="referance" class="page-panel panel-brown diagonal-top-up">
    <div class="container">
      <div class="main_icon wow bounce" data-wow-delay="100ms">
        <div class="icon"> <i class="ion-chatbubbles"></i> </div>
      </div>
      <h3>REFERENCES</h3>
      <div id="owl-crosal">
        <div class="item"><a href="#."><img src="images/c-img-1.png" alt="" ></a></div>
        <div class="item"><a href="#."><img src="images/c-img-2.png" alt="" ></a></div>
        <div class="item"><a href="#."><img src="images/c-img-3.png" alt="" ></a></div>
        <div class="item"><a href="#."><img src="images/c-img-4.png" alt="" ></a></div>
        <div class="item"><a href="#."><img src="images/c-img-1.png" alt="" ></a></div>
        <div class="item"><a href="#."><img src="images/c-img-2.png" alt="" ></a></div>
        <div class="item"><a href="#."><img src="images/c-img-3.png" alt="" ></a></div>
      </div>
    </div>
  </section>