
  <!--======= SERVICES  =========-->
  <section id="services" class="page-panel panel-brown diagonal-top-up">
    <div class="container">
      <div class="main_icon wow bounce" data-wow-delay="100ms">
        <div class="icon"> <i class="ion-map"></i> </div>
      </div>
      <h3>SERVICES</h3>
      
      <!--======= SERVICES  =========-->
      <div class="services">
        <ul class="row">
          
          <!--======= SERVICES  1=========-->
          <li class="col-sm-3 wow pulse" data-wow-delay="100ms">
            <div class="ser-sec"> <i class="glyphicon glyphicon-briefcase"></i>
              <h5>Online Travel Sites</h5>
              <p>Reservations with Expedia, Booking.com, Orbitz, Priceline, Hotels.com, Hotwire, Google, Kayak, Trivago, Tripadvisor, & 200 plus online travel sites. Mobile booking engine platform – mobile connected</p>
            </div>
          </li>
          
          <!--======= SERVICES 2 =========-->
          <li class="col-sm-3 wow pulse" data-wow-delay="200ms">
            <div class="ser-sec"> <i class="glyphicon glyphicon-globe"></i>
              <h5>Global Distribution Systems</h5>
              <p>Reservations from 600,000 plus worldwide travel agents with Sabre, Worldspan, Amadeus, Apollo, Pegasus, and Galileo GDS platform. We are Travel Agent connected</p>
            </div>
          </li>
          
          <!--======= SERVICES 3 =========-->
          <li class="col-sm-3 wow pulse" data-wow-delay="300ms">
            <div class="ser-sec"> <i class="glyphicon glyphicon-cloud"></i>
              <h5>Cloud Server</h5>
              <p>Stays connected with a cloud based server. Access your properties information anywhere in the world, from any type of device with internet including iPhone, Android, Mac, PC, or Tab. Change rates, availability, inventory, and content on the go</p>
            </div>
          </li>
          
          <!--======= SERVICES 4 =========-->
          <li class="col-sm-3 wow pulse" data-wow-delay="400ms">
            <div class="ser-sec"> <i class="glyphicon glyphicon-download-alt"></i>
              <h5>PMS Interfaces Available</h5>
              <p>CRS / PMS interface eliminates manual data entry and optimizes revenue opportunities. An interface can significantly increase occupancy and ADR through a joint effort to sell all your room availability, at the right price.</p>
            </div>
          </li>
          
          <!--======= SERVICES 5 =========-->
          <li class="col-sm-3 wow pulse" data-wow-delay="500ms">
            <div class="ser-sec"> <i class="glyphicon glyphicon-credit-card"></i>
              <h5>Credit Card Processing</h5>
              <p>Because NexRez actually owns a credit card processing company, anyone who uses our system gets deep discounts on all their credit card processing that even the “Big Chains” can’t get. This can be a much as a 20% to 30% savings on your credit card processing fees. We don’t have a deal with a processor, we are the processor.</p>
            </div>
          </li>
          
          <!--======= SERVICES 6 =========-->
          <li class="col-sm-3 wow pulse" data-wow-delay="600ms">
            <div class="ser-sec"> <i class="glyphicon glyphicon-info-sign"></i>
              <h5>Analysis</h5>
              <p>Real time reporting and analysis on market trends including price point strategy, display strategies, online travel site promotion efficiency, distribution mix and performance trends. Make well informed decisions for your hotel by using REAL data.</p>
            </div>
          </li>
          
          <!--======= SERVICES 7 =========-->
          <li class="col-sm-3 wow pulse" data-wow-delay="700ms">
            <div class="ser-sec"> <i class="glyphicon glyphicon-earphone"></i>
              <h5>Support</h5>
              <p>24/7 client support from experienced GDS experts and hoteliers just like you. We are dedicated to your success and we will support your business goals. We are the only company that gives you direct access to our owners. We are on the hook to deliver results and an outstanding client experience, give our references a call.</p>
            </div>
          </li>
          
          <!--======= SERVICES 8 =========-->
          <li class="col-sm-3 wow pulse" data-wow-delay="800ms">
            <div class="ser-sec"> <i class="glyphicon glyphicon-usd"></i>
              <h5>Results</h5>
              <p>Our success depends on YOUR results. We are a performance based company that believes “there is nothing more expensive than an unsold room”. Fees are tied directly to performance and the reservations produced.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>