
            <ul>
              <li class="facebook"> <a href="http://www.facebook.com/sharer.php?u=http://nexrez.net&t=NexRez"><i class="ion-social-facebook"></i> </a> </li>
              <li class="twitter "> <a href="http://twitter.com/home/?status=Check+out+this+website+http://nexrez.net"><i class="ion-social-twitter"></i> </a> </li>
              <li class="googleplus"> <a href="https://plus.google.com/share?url=http://www.nexrez.net"><i class="ion-social-googleplus"></i> </a> </li>
              <li class="linkedin"> <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.nexrez.net&title=NexRez&summary=&source="><i class="ion-social-linkedin"></i> </a> </li>
            </ul>