<!--======= TEAM MEMBERS  =========-->
  <section id="team" class="page-panel panel-brown diagonal-top-up">
    <div class="container">
      <div class="main_icon wow bounce" data-wow-delay="100ms">
        <div class="icon"> <i class="ion-checkmark"></i> </div>
      </div>
      <h3>TEAM MEMBERS</h3>
      <div class="team grid">
        <div class="row">
          <div class="col-sm-6">
            <ul class="row">
              
              <!--======= TEAM MEMBERS 1 =========-->
              <li class="col-md-6 wow flipInX" data-wow-delay="100ms">
                <div class="over"> <img src="images/team-1.jpg" alt="">
                  <div class="overlay">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the type specimen book. </p>
                  </div>
                </div>
                <h4>Regi DANIELLO</h4>
                <p>Founder & Ceo</p>
              </li>
              
              <!--======= TEAM MEMBERS 2 =========-->
              <li class="col-md-6 wow flipInX" data-wow-delay="200ms">
                <div class="over"> <img src="images/team-2.jpg" alt="">
                  <div class="overlay">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the type specimen book. </p>
                  </div>
                </div>
                <h4>Dennis LOTUS</h4>
                <p>Arge - Ceo</p>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="row">
              
              <!--======= TEAM MEMBERS 3 =========-->
              <li class="col-md-6 wow flipInX" data-wow-delay="300ms">
                <div class="over"> <img src="images/team-3.jpg" alt="">
                  <div class="overlay">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the type specimen book. </p>
                  </div>
                </div>
                <h4>Fayerin OPSOL</h4>
                <p>Frond end Developer</p>
              </li>
              
              <!--======= TEAM MEMBERS 4 =========-->
              <li class="col-md-6 wow flipInX" data-wow-delay="400ms">
                <div class="over"> <img src="images/team-4.jpg" alt="">
                  <div class="overlay">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the type specimen book. </p>
                  </div>
                </div>
                <h4>Sem GUARDIAN</h4>
                <p>Graphic Designer</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>