<!--======= TESTIMONALS  =========-->
  <section id="testimonials" class="page-panel panel-brown diagonal-top-up">
    <div class="container">
      <div class="main_icon wow bounce" data-wow-delay="100ms">
        <div class="icon"> <i class="ion-chatbubbles"></i> </div>
      </div>
      <h3>TESTIMONALS</h3>
      <div class="owl-home">

        <div class="testi">
          <div class="avatar"> <img src="images/avatar-testi.png" alt=""> </div>
          <div class="review"> <span> Honestly, these guys are the best people around to work with.
            They are super commited, delivering exceptional. </span>
            <div class="texti-auther"> Alexander DOLGERN </div>
          </div>
        </div>
        <div class="testi">
          <div class="avatar"> <img src="images/avatar-testi.png" alt=""> </div>
          <div class="review"> <span> Honestly, these guys are the best people around to work with.
            They are super commited, delivering exceptional. </span>
            <div class="texti-auther"> Alexander DOLGERN </div>
          </div>
        </div>
        <div class="testi">
          <div class="avatar"> <img src="images/avatar-testi.png" alt=""> </div>
          <div class="review"> <span> Honestly, these guys are the best people around to work with.
            They are super commited, delivering exceptional. </span>
            <div class="texti-auther"> Alexander DOLGERN </div>
          </div>
        </div>
      </div>
    </div>
  </section>